@tailwind base;
@tailwind components;
@tailwind utilities;
.product-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-title:hover {
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.75;
  cursor: pointer;
  color: black;
}
.product-desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-desc:hover {
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.75;
  cursor: pointer;
  color: black;
}

::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgb(37, 99, 235);
  border-radius: 1rem;
  border: 0.6rem solid white;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 99, 235);
  cursor: pointer;
}
